@font-face {
    font-family: "Odin";
    src: url("./assets/OdinRounded-Yd82.ttf");
}

@font-face {
    font-family: "Tahoma";
    src: url("./assets/Tahoma-6YeMg.ttf");
}

:root{
    --main-color: #FD7FA9;
    --secondary-color: #344c64 ;
    --text-color: #E9EAEC;
}

body {
    font-family: "Tahoma";
    background-color: var(--main-color);
    font-size: 28px;
}

.name-container {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.container {
    padding-top: 10vh;
    padding-right: 10%;
    padding-left: 10%;
}

.card {
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: all .2s ease;
    border-radius: .5rem;
}

.card:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--secondary-color);
    border-color: var(--main-color);
}

.row {
    margin-bottom: 1rem;
}

.image-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2pt solid var(--text-color);
}

.fab{
    font-size: 30px;
}
